@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');

:root {
  /* COLOR PALETTE */
  --bronze:#533A23;
  --orange:#AC7B4C;
  --grey:#B2B2B2;
  --white:#E8E8E9;
  --darkblue:#0C3441;
  --darkgrey: #191919;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}